* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif; 
}

html {
    font-size: 16px;
}

.payment-card-container {
    width: 70%;
    max-width: 650px;
    margin: 15rem auto 0 auto;
    position: relative;
    /* top: 60%;
    left: 60%;
    transform: translate(-60%, -60%); */
}

.visa-card {
    border: 1px solid lightgrey;
    background-color: white;
    width: 85%;
    padding: 1.5rem 0;
    margin: 0 auto;
    border-radius: 15px;
    position: absolute;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.visa-card__content {
    width: 90%;
    margin: 0 auto;
}

.visa-card__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visa-card__silver-mark {
    border: 1px solid midnightblue;
    border-radius: 7px;
    padding: 1.5rem 2.2rem;
}

.visa-text-logo img {
    width: 60px;
    max-width: 100%;
    height: auto;
}

.visa-card__cvv {
    width: 90%;
    margin: 0 auto;
    padding: 1.2rem 0 0.5rem 0;
    text-align: end;
}

.visa-card__cvv p {
    font-size: 1.2rem;
}

.visa-card-number {
    width: 100%;
    padding: 0.8rem 0 1rem 0;
}

.visa-card-number p {
    font-size: 2.3rem;
}

.visa-card__identity {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.visa-card__identity .header {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
}

.visa-card__identity p {
    padding: 0.5rem 0;
    font-size: 1.4rem;
}

/* form section */

.form-section {
    border: 1px solid black;
    width: 95%;
    padding: 10rem 0 3rem 0;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
}

.form__input-wrapper {
    width: 90%;
    margin: 0 auto;
}

.form__input-wrapper label {
    padding-bottom: 0.5rem;
    display: block;
}

.form__input-wrapper input, 
.form__input-wrapper select {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0.8rem;
    outline: none;
}

.form__input-wrapper input:focus,
.form__input-wrapper select:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px 1px skyblue;
}

.card-number__input-container {
    display: flex;
    justify-content: space-between;
    padding-bottom: 2rem;
}

.card-number__input-container input {
    width: 23%;
}

.form__card-holder input {
    width: 100%;
    margin-bottom: 2rem;
}

.expiry-and-cvv {
    display: flex;
    justify-content: space-between;
}

.expiration-dates__input-wrapper {
    width: 45%;
}

.expiration-dates {
    width: 100%;
    display: flex;
}

.expiration-month, 
.expiration-year {
    width: 100%;
}

.expiration-dates__input-wrapper select {
    width: 90%;
}

button {
    background-color: rgb(14, 14, 134);
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
    width: 100%;
    padding: 1rem 0;
    margin-top: 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.04rem;
    cursor: pointer;
}
