* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-transform: uppercase;
    font-family: 'Barlow', sans-serif; 
}

html {
    font-size: 16px;
}

body {
    position: relative;
}

.alert-message {
    visibility: hidden;
    /* display: none; */
    background-color: white;
    border: 1px solid green;
    padding: 1rem 0;
    border-radius: 8px;
    text-align: center;
    width: 40%;
    position: absolute;
    top: -35%;
    right: 0%;
    z-index: 100;
}

.alert-message__content {
    color: green;
    font-weight: 500;
    width: 90%;
    margin: 0 auto;
}

.alert-message__content p {
    font-size: 1.5rem;
}

.alert-message.active {
    visibility: visible;
    /* display: block; */
    animation-name: paymentSuccess;
    animation-duration: 1.5s;
}

@keyframes paymentSuccess {
    from {
        visibility: hidden;
        /* display: none; */
        top: -40%;
    }
    to {
        visibility: visible;
        /* display: block; */
        top: -35%;
    }
}

.payment-card-container {
    width: 70%;
    max-width: 650px;
    margin: 15rem auto 0 auto;
    position: relative;
}

.visa-card {
    border: 1px solid lightgrey;
    background-color: white;
    width: 85%;
    padding: 1.5rem 0;
    margin: 0 auto;
    border-radius: 15px;
    position: absolute;
    top: -170px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 10;
}

.visa-card__content {
    width: 90%;
    margin: 0 auto;
}

.visa-card__logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.visa-card__silver-mark {
    border: 1px solid midnightblue;
    border-radius: 7px;
    padding: 1.5rem 2.2rem;
}

.visa-text-logo img {
    max-width: 100%;
    height: auto;
}

.visa-card__cvv {
    width: 90%;
    margin: 0 auto;
    padding: 1.2rem 0 0.5rem 0;
    text-align: end;
}

.visa-card__cvv p {
    font-size: 1.2rem;
    height: 23px;
}

.visa-card-number {
    width: 100%;
    height: 75px;
    padding: 0.8rem 0 1rem 0;
}

.visa-card-number p {
    font-size: 2.3rem;
}

.visa-card__identity {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 0;
}

.visa-card__identity .header {
    font-size: 0.8rem;
    letter-spacing: 0.03rem;
}

.visa-card__identity p {
    padding: 0.5rem 0;
    font-size: 1.4rem;
    height: 43px;
}

/* form section */

.form-section {
    border: 1px solid black;
    width: 95%;
    padding: 10rem 0 3rem 0;
    margin: 0 auto;
    border-radius: 15px;
    position: relative;
}

.form__input-wrapper {
    width: 90%;
    margin: 0 auto;
}

.form__input-wrapper label {
    padding-bottom: 0.5rem;
    display: block;
}

.form__input-wrapper input, 
.form__input-wrapper select {
    border: 1px solid lightgrey;
    border-radius: 5px;
    padding: 0.8rem;
    outline: none;
}

.form__input-wrapper input.error {
    border: 1px solid red;
}

.form__input-wrapper input:focus,
.form__input-wrapper select:focus {
    border: 1px solid transparent;
    box-shadow: 0px 0px 5px 1px skyblue;
}

.form__card-number {
    padding-bottom: 2rem;
}

.card-number__input-container {
    display: flex;
    justify-content: space-between;
}

.card-number__input-container input {
    width: 23%;
}

.card-number__error-message,
.card-holder__error-message,
.cvv-number__error-message {
    color: red;
    padding-top: 0.3rem;
    font-size: 0.8rem;
    /* text-transform: lowercase; */
    word-spacing: 0.1rem;
}

.form__card-holder {
    margin-bottom: 2rem;
}

.form__card-holder input {
    width: 100%;
}

.expiry-and-cvv {
    display: flex;
    justify-content: space-between;
}

.expiration-dates__input-wrapper {
    width: 45%;
}

.expiration-dates {
    width: 100%;
    display: flex;
}

.expiration-month, 
.expiration-year {
    width: 100%;
}

.expiration-dates__input-wrapper select {
    width: 90%;
}

button {
    background-color: rgb(14, 14, 134);
    color: white;
    font-size: 1.2rem;
    font-weight: 900;
    width: 100%;
    padding: 1rem 0;
    margin-top: 2rem;
    outline: none;
    border: none;
    border-radius: 5px;
    letter-spacing: 0.04rem;
    cursor: pointer;
}
